@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

/* Style da div media social*/
.social-media {
  margin-top: 1rem;
  display: flex;
  padding-left: 70%;
}

.social-media a {
  text-decoration: none;
  color: #00ff88;
  padding: 1rem 4rem;
  border: 2px dotted #00ff8052;
  border-radius: 10px;
  text-decoration: underline;
  min-width: 4rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 8px;
}

a:hover {
  background-color: #8bfac6bd;
}

/* Tudo que estiver na class titulo*/
.titulo {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 5%;
}

/* style h1*/
.titulo > h1 {
  font-size: 3vw;
  color: #77ffc0;
  text-align: center;
  cursor: default;
}

/*animação */
.left-imag {
  width: 35vw;
}

/*Todos os itens da pag*/
body {
  background: #1f162b;
  width: 100%;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

/*Campo Plano Individual*/
.camp1 {
  position: absolute;
  top: 35%;
  left: 60%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 40px #00000056;
  max-width: 400px;
  width: 60%;
  background: #2f2841;
  padding: 20px 20px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*Campo Plano Duoo*/
.camp2 {
  position: absolute;
  top: 35%;
  left: 85%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 40px #00000056;
  max-width: 400px;
  width: 60%;
  background: #2f2841;
  padding: 20px 20px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*Campo Plano Família*/
.camp3 {
  position: absolute;
  top: 78%;
  left: 60%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 40px #00000056;
  max-width: 400px;
  width: 60%;
  background: #2f2841;
  padding: 20px 20px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*Campo Universitário*/
.camp4 {
  position: absolute;
  top: 78%;
  left: 85%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 40px #00000056;
  max-width: 400px;
  width: 60%;
  background: #2f2841;
  padding: 20px 20px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* style dos campos H2*/
h2 {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  background: #514869;
  border: 0;
  text-align: center;
  color: #f0ffffde;
  box-shadow: 0px 10px 40px #00000056;
  box-sizing: border-box;
  letter-spacing: 3px;
  margin: 5px;
}

/*titulos dos campos*/
label {
  color: #f0ffffde;
  text-align: left;
  margin: 3px;
  font-size: 20px;
}

h3 {
  color: #f0ffffde;
  font-family: Arial;
  font-size: 17px;
}

.button {
  width: 100%;
  padding: 10px 0px;
  margin: 15px;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  text-align: center;
}

.button:hover {
  background: #8bfac6;
  text-shadow: none;
}

.footer {
  width: 100%;
  height: 2%;
  background-color: #00ff88;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1e2a;
}

/* @media only screen and (max-width: 950px) {
  .camp {
    width: 85%;
  }
} */
