@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.titulo {
   width: 50vw;
   height: 100vh;
   display: flex;
   justify-content:center;
   align-items:center;
   flex-direction: column;
   padding-left: 5%;
}

.titulo > h1 {
  font-size: 3vw;
  color: #77ffc0;
}


.left-imag{
  width: 35vw;
}


body {
  background: #20162c;
  width: 100%;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.camp {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 40px #00000056;
  max-width: 400px;
  width: 60%;
  background: #2f2841;
  padding: 20px 20px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card_number {
  margin-bottom: 25px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius:10px;
  font-size: 16px;
  background: #514869;
  border: 0;
  text-align: center;
  color: #f0ffffde;
  box-shadow: 0px 10px 40px #00000056;
  box-sizing: border-box;
  letter-spacing: 5px;
  margin: 5px;
}

input::placeholder{
  color: #f0ffff94;
}

label {
  color:#f0ffffde;
  text-align: left;
  margin: 5px;
  font-size: 20px;
}

.card_number {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.card_grp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}


.expiry_date,
.cvc {
  width: 60%;
  display: flex;
}

.expiry_date .expiry_input {
  width: 60px;
  margin-right: 10px;
}

.cvc {
  justify-content: flex-end;
  align-items: center;
}

.cvc .cvc_input {
  width: 60px;
  margin-right: 10px;
}


.cvc_img {
  border: 2px solid #fff;
  width: 25px;
  height: 25px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.cvc_img .img {
  position: absolute;
  width: 100px;
  height: 80px;
  padding: 5px;
  border-radius: 3px;
  top: -30px;
  right: 33px;
  background: #2f2841;
  display: none;
}

.cvc_img .img img {
  width: 100%;
  height: 100%;
}

.cvc_img:hover .img {
  display: block;
}


.botao {
  width: 100%;
  padding: 10px 0px;
  margin: 15px;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.botao:hover{
  background: #8bfac6; 
  text-shadow: none;
 }

 @media only screen and (max-width: 950px){
   .camp{
     width: 85%;
   }
 }


 /* Validador de cartão de crédito */
#card-container {
  position: relative;
  width: 100%;
}

#logo {
  width: 46px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 7px;
}

.visa {
  background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
    0 0 no-repeat;
}
.mastercard {
  background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
    0 -30px no-repeat;
}
.amex {
  background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
    0 -60px no-repeat;
}
.diners {
  background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
    0 -90px no-repeat;
}
.discover {
  background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
    0 -120px no-repeat;
}